.cfg
.cache
.Trash
*.DS_Store*
.config/fish/fish_variables
.aider*
.*history*
.*sessions*
.CFUserTextEncoding
.gnupg*
.stack
.viminfo
.local
.dropbox
.config/fish/*.tmp.*
Applications
Desktop
Documents
Downloads
Dropbox
Library
Movies
Music
OneDrive*
Pictures
Public
