[user]
	name = Jongsun Suh
	email = 34228073+MajorLift@users.noreply.github.com
[credential "github.com"]
	useHttpPath = true
[commit]
	gpgsign = true
[credential]
	helper = /usr/local/share/gcm-core/git-credential-manager
[credential "https://dev.azure.com"]
	useHttpPath = true
[push]
    autoSetupRemote = true
[gpg]
	program = /usr/local/bin/gpg
